<!doctype html>
<html lang="eng">
<head>
<meta charset="utf-8" />
<title><%= title %></title>
</head>
<body>

<%- include('partials/header') -%>

<h1>Articles</h1>

<% for(let article of articles) { %>
    <div class="article-box">
        <p><%= article.title %></p>
        <p><%= article.body %></p>
        <a href="/update/<%= article._id %>">Update</a>
        <a href="/delete/<%= article._id %>">Delete</a>
    </div>
<% } %>

</body>
</html>