<!doctype html>
<html lang="eng">
<head>
<meta charset="utf-8" />
<title><%= title %></title>
</head>
<body>

<%- include('partials/header') -%>

<h1>Create article</h1>

<form method="">
    <input type="hidden" id="hidden" value="<%= article._id %>" />
    <input type="text" id="text" name="title" value="<%= article.title %>"/>
    <textarea name="body" id="textarea"><%= article.body %></textarea>
    <input type="submit" value="Update" id="btn"/>
</form>

<script src="../js/update.js"></script>
</body>
</html>